{% extends 'layout.html.twig' %}

{% block title %}...{% endblock %}

{% block content %}
<section>
    <h1>Category {{ showCategory.name }}</h1>
    <ul>
        <li>Id : {{ showCategory.name }}</li>
    </ul>
    <a href='/category'>Back to list</a>
</section>
{% endblock %}

{% block javascript %}{% endblock %}